[Desktop Entry]
Name=ClassiCube0
Exec=ClassiCube0Launcher
Comment=Sandbox building-block game
Type=Application
Icon=net.classicube0.flatpak.client
Categories=Game;ActionGame;
Terminal=false
MimeType=x-scheme-handler/mc;
StartupWMClass=net.classicube0.flatpak.client